[submodule "test-roms/n64-tests"]
	path = test-roms/n64-tests
	url = git@github.com:Dillonb/n64-tests.git
[submodule "third_party/cen64"]
	path = third_party/cen64
	url = https://github.com/n64dev/cen64.git
